Options -Indexes

<Files ~ "^\.">
	Order allow,deny
	Deny from all
</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule . - [S=2]
	RewriteRule ^.*$ index.php [L,QSA]
</IfModule>